<div class="viewproducts">
<div class="row">
    <!-- Displaying all Products-->
    <div class="col-md-4 mt-3" *ngFor="let item of products;let i=index">
        <div class="card">
            <div class="card-body">
              <h4 class="card-title">{{item.name}}</h4>
              <p class="card-text">{{item.description}}.</p>
              <div class="row">
                  <div class="col-md-8"> 
              <a class="card-link">Rs.{{item.price}}</a>
                  </div>
                  <div class="col-md-4  text-right">
              <i class="fa fa-edit" (click)="edit(item)"></i>
              <i class="fa fa-trash text-danger"
              data-toggle="modal" data-target="#myModal" (click)="getindex(i)"  
              aria-hidden="true"></i>
                  </div>
              </div>
            </div>
          </div>
    </div>
</div>
</div>



<!-- Delete Modal-->
<div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title"> Are you sure you want to delete ?</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
            <button type="button" 
            (click)="delete(index)" class="btn btn-danger mr-3" 
          data-dismiss="modal">Delete</button>
          <button type="button" class="btn btn-primary" 
          data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>