<nav class="navbar navbar-expand-sm bg-dark">
<h4> ShopBride</h4>
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/add"> + Add Item</a>
      </li>
    </ul>
  
  </nav>