<div class="add">
  <div class="row">
    <div class="col-md-4">
      <h4 *ngIf="!isEdit">Add Item</h4>
      <h4 *ngIf="isEdit">Update Item</h4>
    </div>
  </div>

  <hr />
  <!-- add product form-->
  <form #form="ngForm">
    <div class="logindiv">
      <div class="row">
        <div class="form-group col-lg-3">
          <label class="form-control-label" for="id">Product Id</label>
          <input
            type="text"
            name="id"
            class="form-control"
            [(ngModel)]="productDto.id"
            #id="ngModel"
            placeholder="Enter product id"
            [class.is-invalid]="id.invalid && (id.touched || form.submitted)"
            blockCopyPaste
            required
          />
          <div
            *ngIf="id.invalid && (id.touched || form.submitted)"
            class="invalid-feedback"
          >
            <div *ngIf="id?.errors.required">
              <i> Id is required</i>
            </div>
          </div>
        </div>
        <div class="form-group col-lg-3">
          <label class="form-control-label" for="name">Name</label>
          <input
            type="text"
            name="name"
            class="form-control"
            [(ngModel)]="productDto.name"
            #name="ngModel"
            placeholder="Enter product name"
            [class.is-invalid]="
              name.invalid && (name.touched || form.submitted)
            "
            blockCopyPaste
            required
          />
          <div
            *ngIf="name.invalid && (name.touched || form.submitted)"
            class="invalid-feedback"
          >
            <div *ngIf="name?.errors.required">
              <i> Name is required</i>
            </div>
          </div>
        </div>
        <div class="form-group col-lg-3">
          <label class="form-control-label" for="price">Price</label>
          <input
            type="number"
            name="price"
            class="form-control"
            [(ngModel)]="productDto.price"
            #price="ngModel"
            placeholder="Enter product price"
            [class.is-invalid]="
              price.invalid && (price.touched || form.submitted)
            "
            blockCopyPaste
            required
          />
          <div
            *ngIf="price.invalid && (price.touched || form.submitted)"
            class="invalid-feedback"
          >
            <div *ngIf="price?.errors.required">
              <i> Price is required</i>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-lg-6">
          <label class="form-control-label" for="description"
            >Description</label
          >
          <textarea
            type="text"
            name="description"
            class="form-control"
            [(ngModel)]="productDto.description"
            #description="ngModel"
            placeholder="Enter product description"
            [class.is-invalid]="
              description.invalid && (description.touched || form.submitted)
            "
            blockCopyPaste
            required
          >
          </textarea>
          <div
            *ngIf="
              description.invalid && (description.touched || form.submitted)
            "
            class="invalid-feedback"
          >
            <div *ngIf="description?.errors.required">
              <i> Description is required</i>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <button class="btn mt-3 mr-3 btn-primary" (click)="addItem(form)">
            <span *ngIf="!isEdit">Add</span>
            <span *ngIf="isEdit"> Update </span>
          </button>
          <button class="btn mt-3 btn-primary" routerLink="">Back</button>
        </div>
      </div>
    </div>
  </form>
</div>
