/* You can add global styles to this file, and also import other style files */

// header //

nav ul {
  position: absolute;
  right: 20px;
}
nav h4 {
  color: white;
  font-size: 20px;
  margin: 1%;
}

nav ul li a {
  color: white;
  border: 1px solid white;
  padding: 4px 10px 5px 10px !important;
  border-radius: 30px;
}

// header ends //

/// add-item styles ///
.add {
  padding: 30px;
  margin-bottom: 30px;
}
.add textarea {
  height: 100px;
}
label {
  font-weight: bold;
}

// add-item ends //

////view-products///

.fa {
  cursor: pointer;
}
.viewproducts {
  padding: 3%;
  margin-bottom: 50px;
  p{
      text-align: justify;
  }
}
.fa-trash {
  margin: 0% 5%;
  position: relative;
  top: -1px;
}

// view-product ends //

// responsive //

@media (max-width: 765px) {
  .navbar {
    padding: 20px;
  }
  .fa-trash {
    margin: 0% 3%;
    position: relative;
    top: -1px;
  }
  .text-right {
    text-align: left !important;
    margin-top: 10px;
  }
  .footer {
    padding: 8px !important;
  }
}

// responsive ends //
